<body class="home_body">
<section class="home_top" id="index-top">
    <div class="home_header_wrapper" id="header-wrapper">
        <header class="home_header">
            <a href="#" class="hh_logo">
                <img class="top_image" src="images/top_logo_white.png" alt="">
                <img class="fixed_image" src="images/logo_color.png" alt="">
            </a>

            <div class="hh_inputs_wpapper">
                <form ng-controller="AuthController">
                    <input class="hh_input" placeholder="Логин" ng-model="user.email" type="text">
                    <input class="hh_input" placeholder="Пароль" ng-model="user.password" type="text">
                    <input class="hh_input" ng-click="auth(user)" value="Войти" type="submit">
                    <a class="hh_register" href="registration">{{"CHECK" | translate}}</a>
                </form>
            </div>
            <a href="legal" class="hh_private_link">{{"FORBUSINESS" | translate}}</a>

            <div class="hh_lang_menu" ng-controller="MainController" ng-model="lang">
                <a href="" data-toggle="dropdown" class="hh_lang_current">{{lang[currLang]}}</a>
                <ul class="hh_lang_list">
                    <li class="hh_lang"  ng-repeat="(key, val) in lang">
                        <a href="" ng-if="key != currLang" ng-click="changeLang(key)">{{val}}</a>
                    </li>
                </ul>
            </div>
            <div class="hh_menu_btn" id="menu-btn"></div>
            <div class="hh_mob_phone_btn"></div>
        </header>
        <div class="hh_menu" id="index-menu">
            <ul class="spacer"></ul>
            <ul class="hh_menu_list">
                <li class="hh_menu_list_link">{{"ABOUTTHECOMPANY" | translate}}</li>
                <li><a href="">{{"ABOUTTHESYSTEM" | translate}}</a></li>
                <li><a href="">{{"NEWS" | translate}}</a></li>
                <li><a href="">{{"LEGALSAFEGUARDSLICEN" | translate}}</a></li>
                <li><a href="">{{"SAFETY" | translate}}</a></li>
                <li><a href="">{{"CONTACTS" | translate}}</a></li>
                <li><a href="">{{"NEWS" | translate}}</a></li>
                <li><a href="">F. A. Q.</a></li>
            </ul>
            <ul class="hh_menu_list">
                <li class="hh_menu_list_link">{{"FORINDIVIDUALS" | translate}}</li>
                <li><a href="#">{{"TOPUPYOUR" | translate}}</a></li>
                <li><a href="#">{{"TOPAYUTILITY" | translate}}</a></li>
                <li><a href="#">{{"TRANSFERMONEYTO" | translate}}</a></li>
                <li><a href="#">{{"TOPAYSHIPPING" | translate}}</a></li>
                <li><a href="#">{{"WITHDRAWFUNDS" | translate}}</a></li>
            </ul>
            <ul class="hh_menu_list">
                <li class="hh_menu_list_link">{{"FORBUSINESS" | translate}}</li>
                <li><a href="">{{"CONNECTONLINESHOP" | translate}}</a></li>
                <li><a href="">{{"INTERNETACQUIRING" | translate}}</a></li>
                <li><a href="">{{"TOBECOMEAN" | translate}}</a></li>
                <li><a href="">{{"TOACCEPTPAYMENTS" | translate}}</a></li>
                <li><a href="">{{"THEISSUEOF" | translate}}</a></li>
                <li><a href="">{{"PUBLICAPI" | translate}}</a></li>
            </ul>
            <a id="menu-close" class="hh_menu_close" href="#"></a>

            <div class="cab_header_right">
                <div class="hh_menu_social">
                    <a class="hh_menu_social_link fb" href="#"></a>
                    <a class="hh_menu_social_link tw" href="#"></a>
                    <a class="hh_menu_social_link gp" href="#"></a>
                </div>
            </div>

        </div>
    </div>

    <div id="top-carousel-1" class="ht_carousel_1 carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-image: url(images/bg_top.jpg)">
                <div class="ht_carousel_caption">
                    <span class="ht_caption_title">{{"75000POINTS" | translate}}</span>
                            <span class="ht_caption_text">{{"PAYFORSERVICES" | translate}}<br>{{"FILLYOUREWALLET" | translate}}</span>
                </div>
            </div>
            <div class="item" style="background-image: url(images/bg_top2.jpg)">
                <div class="ht_carousel_caption">
                    <span class="ht_caption_title">{{"INTERNETACQUIRING" | translate}}</span>
                            <span class="ht_caption_text">{{"CONNECTTHESYSTEM" | translate}}</span>
                </div>
            </div>
        </div>

        <!-- Indicators -->
        <ol class="ht_carousel_indicators carousel-indicators">
            <li data-target="#top-carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#top-carousel-1" data-slide-to="1"></li>
        </ol>

        <!-- Controls -->
        <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"></a>-->
        <!--<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"></a>-->
    </div>

    <div class="ht_form_wrapper">
        <div id="form-carousel" class="form-carousel carousel slide" data-ride="carousel" data-interval="false">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="ht_form_tile">{{"RECHARGEYOURMOBILE" | translate}}</div>
                    <input type="text" placeholder="+380 (63) ____ - __ - __">

                    <div class="th_input_wrapper">
                        <input id="summ" class="short" type="text" placeholder="Введите сумму" value="1000">
                        <label class="th_text_label" for="summ">{{"USD" | translate}}</label>
                    </div>
                    <div class="th_input_wrapper">
                        <input id="radio1" type="radio" name="group1" value="Milk">
                        <label for="radio1"><span></span>{{"WALLETGLOBALMONEY" | translate}}</label>
                        <br>
                        <input id="radio2" type="radio" name="group1" value="Butter" checked>
                        <label for="radio2"><span></span>{{"VISACARD" | translate}}</label>
                    </div>

                    <a href="" class="th_form_btn" data-toggle="modal" data-target="#popup-form-1">{{"OK" | translate}}</a>
                </div>
                <div class="item">
                    <div class="ht_form_tile">{{"TOREQUESTA" | translate}}</div>
                    <input type="text" placeholder="Имя*">
                    <input type="text" placeholder="E-mail*">
                    <input type="text" placeholder="Web-site">
                    <a href="" class="th_form_btn" data-toggle="modal" data-target="#popup-form-2">{{"OK" | translate}}</a>
                </div>
                <div class="item">
                    <div class="ht_form_tile">{{"TOREQUESTA" | translate}}</div>
                    <input type="text" placeholder="Имя*">
                    <input type="text" placeholder="E-mail*">
                    <input type="text" placeholder="Web-site">
                    <a href="" class="th_form_btn" data-toggle="modal" data-target="#popup-form-3">{{"OK" | translate}}</a>
                </div>
            </div>

            <!-- Controls -->
            <a class="left form_carousel_control carousel-control" href="#form-carousel" role="button"
               data-slide="prev"></a>
            <a class="right form_carousel_control carousel-control" href="#form-carousel" role="button"
               data-slide="next"></a>
        </div>

        <div class="ht_mobile_private_btn">
            <a href="/" class="ht_mobile_private_btn_inner">{{"FORBUSINESS" | translate}}</a>
        </div>

    </div>


</section>
<section class="home_services">
    <div class="container">
        <div class="hs_wrapper">
            <input class="hs_input" type="text" placeholder="Хочу оплатить">

            <div class="hs_list">
                <div class="hs_list_item_wrapper">
                    <div class="hs_list_item" data-toggle="dropdown" data-target="#">
                        <i class="hs_icon icon_mobile white_icon"></i>
                        <span>{{"RECHARGEYOURMOBILE" | translate}}</span>

                        <div class="hs_list_form">
                            <div class="hs_form_tile">{{"RECHARGEYOURMOBILE" | translate}}</div>
                            <input type="text" placeholder="+380 (63) ____ - __ - __">

                            <div class="hs_input_wrapper">
                                <input id="summ5" class="short" type="text" placeholder="Введите сумму" value="1000">
                                <label class="hs_text_label" for="summ5">{{"USD" | translate}}</label>
                            </div>
                            <div class="hs_input_wrapper">
                                <input id="radio15" type="radio" name="group1" value="Milk">
                                <label for="radio15"><span></span>{{"WALLETGLOBALMONEY" | translate}}</label>
                                <br>
                                <input id="radio16" type="radio" name="group1" value="Butter" checked>
                                <label for="radio16"><span></span>{{"VISACARD" | translate}}</label>
                            </div>
                            <a href="" class="hs_form_btn">{{"OK" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="hs_list_item_wrapper">
                    <div class="hs_list_item" data-toggle="dropdown">
                        <i class="hs_icon icon_transfer"></i>
                        <span>{{"TRANSFERMONEYTO" | translate}}</span>

                        <div class="hs_list_form">
                            <div class="hs_form_tile">{{"RECHARGEYOURMOBILE" | translate}}</div>
                            <input type="text" placeholder="+380 (63) ____ - __ - __">

                            <div class="hs_input_wrapper">
                                <input id="summ45" class="short" type="text" placeholder="Введите сумму" value="1000">
                                <label class="hs_text_label" for="summ45">{{"USD" | translate}}</label>
                            </div>
                            <div class="hs_input_wrapper">
                                <input id="radio7" type="radio" name="group1" value="Milk">
                                <label for="radio7"><span></span>{{"WALLETGLOBALMONEY" | translate}}</label>
                                <br>
                                <input id="radio8" type="radio" name="group1" value="Butter" checked>
                                <label for="radio8"><span></span>{{"VISACARD" | translate}}</label>
                            </div>
                            <a href="" class="hs_form_btn">{{"OK" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="hs_list_item_wrapper">
                    <div class="hs_list_item" data-toggle="dropdown">
                        <i class="hs_icon icon_communal white_icon"></i>
                        <span>{{"TOPAYUTILITY" | translate}}</span>

                        <div class="hs_list_form">
                            <div class="hs_form_tile">{{"RECHARGEYOURMOBILE" | translate}}</div>
                            <input type="text" placeholder="+380 (63) ____ - __ - __">

                            <div class="hs_input_wrapper">
                                <input id="summ6" class="short" type="text" placeholder="Введите сумму" value="1000">
                                <label class="hs_text_label" for="summ6">{{"USD" | translate}}</label>
                            </div>
                            <div class="hs_input_wrapper">
                                <input id="radio9" type="radio" name="group1" value="Milk">
                                <label for="radio9"><span></span>{{"WALLETGLOBALMONEY" | translate}}</label>
                                <br>
                                <input id="radio10" type="radio" name="group1" value="Butter" checked>
                                <label for="radio10"><span></span>{{"VISACARD" | translate}}</label>
                            </div>
                            <a href="" class="hs_form_btn">{{"OK" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="hs_list_item_wrapper">
                    <div class="hs_list_item" data-toggle="dropdown">
                        <i class="hs_icon icon_tv white_icon"></i>
                        <span>{{"PAYTV" | translate}}</span>

                        <div class="hs_list_form">
                            <div class="hs_form_tile">{{"RECHARGEYOURMOBILE" | translate}}</div>
                            <input type="text" placeholder="+380 (63) ____ - __ - __">

                            <div class="hs_input_wrapper">
                                <input id="summ7" class="short" type="text" placeholder="Введите сумму" value="1000">
                                <label class="hs_text_label" for="summ7">{{"USD" | translate}}</label>
                            </div>
                            <div class="hs_input_wrapper">
                                <input id="radio11" type="radio" name="group1" value="Milk">
                                <label for="radio11"><span></span>{{"WALLETGLOBALMONEY" | translate}}</label>
                                <br>
                                <input id="radio12" type="radio" name="group1" value="Butter" checked>
                                <label for="radio12"><span></span>{{"VISACARD" | translate}}</label>
                            </div>
                            <a href="" class="hs_form_btn">{{"OK" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="hs_list_item_wrapper">
                    <div class="hs_list_item" data-toggle="dropdown">
                        <i class="hs_icon icon_games white_icon"></i>
                        <span>{{"TOJOINTHE" | translate}}</span>

                        <div class="hs_list_form">
                            <div class="hs_form_tile">{{"RECHARGEYOURMOBILE" | translate}}</div>
                            <input type="text" placeholder="+380 (63) ____ - __ - __">

                            <div class="hs_input_wrapper">
                                <input id="summ8" class="short" type="text" placeholder="Введите сумму" value="1000">
                                <label class="hs_text_label" for="summ8">{{"USD" | translate}}</label>
                            </div>
                            <div class="hs_input_wrapper">
                                <input id="radio13" type="radio" name="group1" value="Milk">
                                <label for="radio13"><span></span>{{"WALLETGLOBALMONEY" | translate}}</label>
                                <br>
                                <input id="radio14" type="radio" name="group1" value="Butter" checked>
                                <label for="radio14"><span></span>{{"VISACARD" | translate}}</label>
                            </div>
                            <a href="" class="hs_form_btn">{{"OK" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="hs_list_item_wrapper">
                    <div class="hs_list_item" data-toggle="dropdown">
                        <i class="hs_icon icon_tickets_transport white_icon"></i>
                        <span>{{"TRANSPORTTICKETS" | translate}}</span>

                        <div class="hs_list_form">
                            <div class="hs_form_tile">{{"RECHARGEYOURMOBILE" | translate}}</div>
                            <input type="text" placeholder="+380 (63) ____ - __ - __">

                            <div class="hs_input_wrapper">
                                <input id="summ9" class="short" type="text" placeholder="Введите сумму" value="1000">
                                <label class="hs_text_label" for="summ9">{{"USD" | translate}}</label>
                            </div>
                            <div class="hs_input_wrapper">
                                <input id="radio5" type="radio" name="group1" value="Milk">
                                <label for="radio5"><span></span>{{"WALLETGLOBALMONEY" | translate}}</label>
                                <br>
                                <input id="radio6" type="radio" name="group1" value="Butter" checked>
                                <label for="radio6"><span></span>{{"VISACARD" | translate}}</label>
                            </div>
                            <a href="" class="hs_form_btn">{{"OK" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="hs_list_item_wrapper">
                    <div class="hs_list_item" data-toggle="dropdown">
                        <i class="hs_icon icon_visa_card white_icon"></i>
                        <span>{{"YOUCANRECHARGE" | translate}}</span>

                        <div class="hs_list_form">
                            <div class="hs_form_tile">{{"RECHARGEYOURMOBILE" | translate}}</div>
                            <input type="text" placeholder="+380 (63) ____ - __ - __">

                            <div class="hs_input_wrapper">
                                <input id="summ10" class="short" type="text" placeholder="Введите сумму" value="1000">
                                <label class="hs_text_label" for="summ10">{{"USD" | translate}}</label>
                            </div>
                            <div class="hs_input_wrapper">
                                <input id="radio35" type="radio" name="group1" value="Milk">
                                <label for="radio35"><span></span>{{"WALLETGLOBALMONEY" | translate}}</label>
                                <br>
                                <input id="radio36" type="radio" name="group1" value="Butter" checked>
                                <label for="radio36"><span></span>{{"VISACARD" | translate}}</label>
                            </div>
                            <a href="" class="hs_form_btn">{{"OK" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="hs_list_item_wrapper">
                    <a href="" class="hs_list_item">
                        <i class="hs_icon icon_all_categories_next white_icon"></i>
                        <span>{{"EVEN1300SERVICES" | translate}}</span>
                    </a>
                </div>


            </div>

            <div class="hs_bottom_info">
                <div class="hs_bottom_info_title">{{"TODAYPAID" | translate}}</div>
                <div class="hs_bottom_info_counter">00063344</div>
            </div>
        </div>
    </div>
</section>
<section class="home_security">
    <div class="container">
        <div class="hs_info_wrapper">
            <div class="hs_info">
                <div class="hs_info_title">{{"SAFETY" | translate}}</div>
                <div class="hs_info_text">{{"EACHTRANSACTIONIS" | translate}}</div>
                <div class="hs_info_logos">
                    <img src="images/security_logo2.png" alt="">
                    <img src="images/security_logo3.png" alt="">
                    <img src="images/security_logo4.png" alt="">
                    <img src="images/security_logo5.png" alt="">
                    <img src="images/security_logo6.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home_partners">
    <div class="container">
        <div class="hp_title">{{"PARTNERS" | translate}}</div>
        <div id="partners-carousel" class="partners_carousel carousel slide" data-ride="carousel" data-interval="false">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <ul class="hp_parnters_list" id="partners">
                        <li class="hp_partners_list_item item1">
                            <div class="overlay_block">
                                <img class="abs" src="images/bg_partners_item.png" title="" alt="">
                                <img class="abs2" src="images/circle.png" title="" alt="">
                            </div>
                            <div class="hp_partners_list_item_cell">
                                <img class="grey" src="images/kyivstar_logo_grey.png" alt="">
                                <img class="color" src="images/kyivstar_logo_color.png" alt="">
                            </div>
                        </li>
                        <li class="hp_partners_list_item item2">
                            <div class="overlay_block">
                                <img class="abs" src="images/bg_partners_item.png" title="" alt="">
                                <img class="abs2" src="images/circle.png" title="" alt="">
                            </div>
                            <div class="hp_partners_list_item_cell">
                                <img class="grey" src="images/mts_logo_grey.png" alt="">
                                <img class="color" src="images/mts_logo_color.png" alt="">
                            </div>
                        </li>
                        <li class="hp_partners_list_item item3">
                            <div class="overlay_block">
                                <img class="abs" src="images/bg_partners_item.png" title="" alt="">
                                <img class="abs2" src="images/circle.png" title="" alt="">
                            </div>
                            <div class="hp_partners_list_item_cell">
                                <img class="grey" src="images/life_logo_grey.png" alt="">
                                <img class="color" src="images/life_logo_color.png" alt="">
                            </div>
                        </li>
                        <li class="hp_partners_list_item item4">
                            <div class="overlay_block">
                                <img class="abs" src="images/bg_partners_item.png" title="" alt="">
                                <img class="abs2" src="images/circle.png" title="" alt="">
                            </div>
                            <div class="hp_partners_list_item_cell">
                                <img class="grey" src="images/volia_logo_grey.png" alt="">
                                <img class="color" src="images/volia_logo_color.png" alt="">
                            </div>
                        </li>
                        <li class="hp_partners_list_item item5">
                            <div class="overlay_block">
                                <img class="abs" src="images/bg_partners_item.png" title="" alt="">
                                <img class="abs2" src="images/circle.png" title="" alt="">
                            </div>
                            <div class="hp_partners_list_item_cell">
                                <img class="grey" src="images/privat_logo_grey.png" alt="">
                                <img class="color" src="images/privat_logo_color.png" alt="">
                            </div>
                        </li>
                        <li class="hp_partners_list_item item6">
                            <div class="overlay_block">
                                <img class="abs" src="images/bg_partners_item.png" title="" alt="">
                                <img class="abs2" src="images/new-circle2.png" title="" alt="">
                            </div>
                            <div class="hp_partners_list_item_cell">
                                <img class="grey" src="images/skype_logo_grey.png" alt="">
                                <img class="color" src="images/skype_logo_color.png" alt="">
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="item">
                    <ul class="hp_parnters_list" id="partners">
                        <li class="hp_partners_list_item item1">
                            <div class="overlay_block">
                                <img class="abs" src="images/bg_partners_item.png" title="" alt="">
                                <img class="abs2" src="images/circle.png" title="" alt="">
                            </div>
                            <div class="hp_partners_list_item_cell">
                                <img class="grey" src="images/kyivstar_logo_grey.png" alt="">
                                <img class="color" src="images/kyivstar_logo_color.png" alt="">
                            </div>
                        </li>
                        <li class="hp_partners_list_item item2">
                            <div class="overlay_block">
                                <img class="abs" src="images/bg_partners_item.png" title="" alt="">
                                <img class="abs2" src="images/circle.png" title="" alt="">
                            </div>
                            <div class="hp_partners_list_item_cell">
                                <img class="grey" src="images/mts_logo_grey.png" alt="">
                                <img class="color" src="images/mts_logo_color.png" alt="">
                            </div>
                        </li>
                        <li class="hp_partners_list_item item3">
                            <div class="overlay_block">
                                <img class="abs" src="images/bg_partners_item.png" title="" alt="">
                                <img class="abs2" src="images/circle.png" title="" alt="">
                            </div>
                            <div class="hp_partners_list_item_cell">
                                <img class="grey" src="images/life_logo_grey.png" alt="">
                                <img class="color" src="images/life_logo_color.png" alt="">
                            </div>
                        </li>
                        <li class="hp_partners_list_item item4">
                            <div class="overlay_block">
                                <img class="abs" src="images/bg_partners_item.png" title="" alt="">
                                <img class="abs2" src="images/circle.png" title="" alt="">
                            </div>
                            <div class="hp_partners_list_item_cell">
                                <img class="grey" src="images/volia_logo_grey.png" alt="">
                                <img class="color" src="images/volia_logo_color.png" alt="">
                            </div>
                        </li>
                        <li class="hp_partners_list_item item5">
                            <div class="overlay_block">
                                <img class="abs" src="images/bg_partners_item.png" title="" alt="">
                                <img class="abs2" src="images/circle.png" title="" alt="">
                            </div>
                            <div class="hp_partners_list_item_cell">
                                <img class="grey" src="images/privat_logo_grey.png" alt="">
                                <img class="color" src="images/privat_logo_color.png" alt="">
                            </div>
                        </li>
                        <li class="hp_partners_list_item item6">
                            <div class="overlay_block">
                                <img class="abs" src="images/bg_partners_item.png" title="" alt="">
                                <img class="abs2" src="images/circle.png" title="" alt="">
                            </div>
                            <div class="hp_partners_list_item_cell">
                                <img class="grey" src="images/skype_logo_grey.png" alt="">
                                <img class="color" src="images/skype_logo_color.png" alt="">
                            </div>
                        </li>

                    </ul>
                </div>
            </div>

            <!-- Indicators -->
            <ol class="hp_carousel_indicators carousel-indicators">
                <li data-target="#partners-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#partners-carousel" data-slide-to="1"></li>
            </ol>

            <!-- Controls -->
            <a class="left hp_carousel_control" href="#partners-carousel" role="button" data-slide="prev"></a>
            <a class="right hp_carousel_control" href="#partners-carousel" role="button" data-slide="next"></a>
        </div>
    </div>
</section>

<footer class="cab_footer no_border cab_index_footer">
    <div class="cf_online_help" id="message-btn">
        <span class="cf_online_help_big">24/7</span>
        <span class="cf_online_help_small">{{"ONLINESUPPORT" | translate}}</span>
    </div>
    <div class="cf_links_block">
        <a class="cf_links_title" href="">{{"ABOUTTHECOMPANY" | translate}}</a>
        <a class="cf_link" href="">{{"ABOUTTHESYSTEM" | translate}}</a>
        <a class="cf_link" href="">{{"LEGALSAFEGUARDSLICEN" | translate}}</a>
        <a class="cf_link" href="">{{"SAFETY" | translate}}</a>
        <a class="cf_link" href="">{{"CONTACTS" | translate}}</a>
        <a class="cf_link" href="">{{"NEWS" | translate}}</a>
        <a class="cf_link" href="">F. A. Q.</a>
    </div>
    <div class="cf_links_block">
        <a class="cf_links_title" href="">{{"FORINDIVIDUALS" | translate}}</a>
        <a class="cf_link" href="">{{"TOPUPYOUR" | translate}}</a>
        <a class="cf_link" href="">{{"TOPAYUTILITY" | translate}}</a>
        <a class="cf_link" href="">{{"TRANSFERMONEYTO" | translate}}</a>
        <a class="cf_link" href="">{{"TOPAYSHIPPING" | translate}}</a>
    </div>
    <div class="cf_links_block">
        <a class="cf_links_title" href="">{{"FORBUSINESS" | translate}}</a>
        <a class="cf_link" href="">{{"CONNECTONLINESHOP" | translate}}</a>
        <a class="cf_link" href="">{{"INTERNETACQUIRING" | translate}}</a>
        <a class="cf_link" href="">{{"TOBECOMEAN" | translate}}</a>
        <a class="cf_link" href="">{{"TOACCEPTPAYMENTS" | translate}}</a>
        <a class="cf_link" href="">{{"THEISSUEOF" | translate}}</a>
        <a class="cf_link" href="">{{"PUBLICAPI" | translate}}</a>
    </div>
    <div class="cab_footer_right">
        <div class="cf_socials">
            <a class="cf_fb" href=""></a>
            <a class="cf_tw" href=""></a>
            <a class="cf_gp" href=""></a>
        </div>
        <div class="cf_adress">{{"UKRAINEKIEV" | translate}}<br>{{"01103DRUZHBYNARODIV" | translate}}</div>
        <div class="cf_adress cf_adress_mobile">{{"UKRAINEKIEV" | translate}}<br>{{"01103DRUZHBYNARODIV" | translate}}</div>
    </div>


    <div class="footer_message_wrapper" id="message-col">
        <div class="fm_col">
            <div class="fm_col_middle">
                <div class="fm_col_title">{{"CONTACTUS" | translate}}</div>
                <div class="fm_col_phones">
                    <div class="fm_col_phone">044 545 66 55</div>
                    <div class="fm_col_phone">063 546 43 43</div>
                    <div class="fm_col_phone">050 444 55 66</div>
                </div>
                <div class="fm_adress">{{"UKRAINEKIEV" | translate}}<br>{{"01103DRUZHBYNARODIV" | translate}}</div>

                <a class="fm_col_link" href="">{{"ONLINECHAT" | translate}}</a>
                <a class="fm_col_link" href="">{{"GIVEMEA" | translate}}</a>
                <a class="fm_col_message_btn" id="message-form-btn" href="">{{"WRITEAMESSAGE" | translate}}</a>
            </div>
            <div class="footer_message_col_inner" id="message-form-col">
                <div class="fm_col_inner_middle">
                    <div class="fm_col_inner_title">{{"WRITEAMESSAGE" | translate}}</div>
                    <form action="">
                        <input type="text" placeholder="Имя">
                        <input type="text" placeholder="E-mail">
                        <textarea name="footer-message" id="" placeholder="Сообщение"></textarea>
                        <input type="submit" value="Отправить">
                    </form>

                </div>
            </div>
            <div class="fm_close_btn" id="message-close">
                <span>{{"CLOSE" | translate}}</span>
            </div>
            <div class="fm_mob_back_btn"></div>
            <div class="fm_mob_close_btn"></div>
        </div>
    </div>
</footer>

<div class="modal fade" id="popup-form-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" data-dismiss="modal" aria-label="Close"></div>
                <h4 class="modal-title" id="myModalLabel">{{"RECHARGEYOURMOBILE" | translate}}<br>{{"WITHACREDIT" | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="modal_columns">
                    <div class="modal_cell" style="border-right: 1px solid #92a7b6">
                        <div class="m_line">
                            <div class="m_text_label">{{"REFILLNUMBER:" | translate}}</div>
                            <div class="m_text">+38 (067) 565 34 56</div>
                        </div>
                        <div class="m_line">
                            <div class="m_text_label">{{"THENUMBEROF" | translate}}</div>
                            <div class="m_text">{{"51ХХXXXXXXXX7777" | translate}}</div>
                        </div>
                        <div class="m_line">
                            <div class="m_text_label">E-mail:</div>
                            <div class="m_text">primer@gmail.com</div>
                        </div>
                    </div>
                    <div class="modal_cell">
                        <div class="m_line">
                            <div class="m_text_group">
                                <div class="m_text_label">{{"THEAMOUNTTO" | translate}}</div>
                                <div class="m_text">{{"500USD" | translate}}</div>
                            </div>
                            <div class="m_text_group">
                                <div class="m_text_label small">{{"THECOMMISSION" | translate}}</div>
                                <div class="m_text small">{{"50USD" | translate}}</div>
                            </div>
                        </div>
                        <div class="m_line">
                            <div class="m_text_label">{{"THEAMOUNTTO" | translate}}</div>
                            <div class="m_text">{{"550USD" | translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="modal_info">
                    <form action="">
                        <div class="m_line"></div>
                        <div class="m_line center">
                            <label class="m_info_label m_text_label" for="">{{"ENTERTHENUMBERS" | translate}}</label>
                            <input class="m_info_input m_text" type="text" value="19219">

                            <div class="m_info_value">19219</div>
                        </div>

                        <div class="m_line center">
                            <input class="m_input_reset" type="reset" value="отменить">
                            <input class="m_input_accept" type="submit" value="подтвердить">
                        </div>

                        <div class="m_line center">
                            <div class="m_info_input_wrapper">
                                <input id="cb15" class="m_input_checkbox" type="checkbox">
                                <label for="cb15">{{"SAVEASTEMPLATE" | translate}}</label>
                            </div>
                        </div>

                        <div class="m_line center">
                            <input class="m_input_reset" type="reset" value="отменить">
                            <input class="m_input_accept" type="submit" value="подтвердить">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


</body>