.ico.paysystem_yandex { width: 130px; height: 55px; background-position: 0px -451px; }
.ico.paysystem_cards { width: 130px; height: 41px; background-position: 0px -410px; }
.ico.paysystem_sbonline { width: 130px; height: 37px; background-position: 0px -373px; }
.ico.paysystem_webmoney_large { width: 130px; height: 35px; background-position: 0px -338px; }
.ico.email_gray { width: 58px; height: 58px; background-position: 0px -280px; }
.ico.phone_connected_gray { width: 55px; height: 55px; background-position: -58px -283px; }
.ico.paysystem_bank { width: 93px; height: 30px; background-position: 0px -191px; }
.ico.paysystem_qiwi { width: 84px; height: 32px; background-position: 0px -55px; }
.ico.paysystem_phone { width: 83px; height: 29px; background-position: 0px -26px; }
.ico.paysystem_webmoney { width: 90px; height: 26px; background-position: 0px 0px; }
.ico.templates_magni { width: 48px; height: 48px; background-position: -84px -30px; }
.ico.paysystem_yamdex { width: 61px; height: 30px; background-position: -90px 0px; }
.ico.paysystem_visa { width: 70px; height: 26px; background-position: 0px -107px; }
.ico.pipedrive { width: 90px; height: 20px; background-position: 0px -87px; }
.ico.yandex { width: 42px; height: 42px; background-position: -113px -269px; }
.ico.bag_orange { width: 41px; height: 41px; background-position: -93px -165px; }
.ico.paysystem_mastercard { width: 52px; height: 32px; background-position: -88px -133px; }
.ico.accept_pay_billing { width: 40px; height: 41px; background-position: -113px -225px; }
.ico.bag { width: 40px; height: 41px; background-position: -130px -465px; }
.ico.chain { width: 40px; height: 41px; background-position: -130px -424px; }
.ico.chart_plus { width: 40px; height: 41px; background-position: -130px -383px; }
.ico.chart_up { width: 40px; height: 41px; background-position: -130px -342px; }
.ico.cut { width: 40px; height: 41px; background-position: -132px -62px; }
.ico.design { width: 40px; height: 41px; background-position: -134px -166px; }
.ico.domain { width: 40px; height: 41px; background-position: -140px -103px; }
.ico.footer { width: 40px; height: 41px; background-position: -153px -210px; }
.ico.history { width: 40px; height: 41px; background-position: -155px -301px; }
.ico.invoice { width: 40px; height: 41px; background-position: -151px 0px; }
.ico.invoice_list { width: 40px; height: 41px; background-position: -40px -221px; }
.ico.list_purple { width: 40px; height: 41px; background-position: 0px -238px; }
.ico.makeup { width: 40px; height: 41px; background-position: -170px -465px; }
.ico.moneybag_orange_eur { width: 40px; height: 41px; background-position: -170px -424px; }
.ico.moneybag_orange_ru { width: 40px; height: 41px; background-position: -170px -383px; }
.ico.money_green_ru { width: 40px; height: 41px; background-position: -170px -342px; }
.ico.money_green_us { width: 40px; height: 41px; background-position: -172px -41px; }
.ico.phone_green { width: 40px; height: 41px; background-position: -174px -151px; }
.ico.shop { width: 40px; height: 41px; background-position: -180px -110px; }
.ico.statistic { width: 40px; height: 41px; background-position: -191px 0px; }
.ico.arrow_left_down_gray { width: 33px; height: 36px; background-position: -80px -247px; }
.ico.cp_button { width: 60px; height: 18px; background-position: -153px -251px; }
.ico.select_color { width: 60px; height: 18px; background-position: 0px -173px; }
.ico.status_active { width: 33px; height: 32px; background-position: -193px -192px; }
.ico.status_archive { width: 33px; height: 32px; background-position: -195px -291px; }
.ico.status_copying { width: 33px; height: 32px; background-position: -210px -471px; }
.ico.status_draft { width: 33px; height: 32px; background-position: -210px -439px; }
.ico.status_inactive { width: 33px; height: 32px; background-position: -210px -407px; }
.ico.status_moderation { width: 33px; height: 32px; background-position: -210px -375px; }
.ico.status_rejected { width: 33px; height: 32px; background-position: -210px -343px; }
.ico.status_stop { width: 33px; height: 32px; background-position: -212px -74px; }
.ico.status_importing { width: 33px; height: 32px; background-position: -214px -158px; }
.ico.ok_green { width: 32px; height: 32px; background-position: -215px -237px; }
.ico.social_fb { width: 26px; height: 26px; background-position: -220px -132px; }
.ico.social_gp { width: 26px; height: 26px; background-position: -220px -106px; }
.ico.social_inst { width: 26px; height: 26px; background-position: -226px -211px; }
.ico.social_tw { width: 26px; height: 26px; background-position: -228px -317px; }
.ico.social_vk { width: 26px; height: 26px; background-position: -230px -48px; }
.ico.social_yt { width: 26px; height: 26px; background-position: -231px -18px; }
.ico.export_white { width: 25px; height: 25px; background-position: -228px -292px; }
.ico.import_white { width: 25px; height: 25px; background-position: -113px -311px; }
.ico.add_white { width: 25px; height: 24px; background-position: -88px -109px; }
.ico.ok_white { width: 24px; height: 24px; background-position: -113px -109px; }
.ico.calltracking { width: 22px; height: 24px; background-position: -193px -224px; }
.ico.calltracking_hover { width: 22px; height: 24px; background-position: -60px -160px; }
.ico.our_domain { width: 24px; height: 22px; background-position: -140px -144px; }
.ico.shopimplant { width: 25px; height: 20px; background-position: -226px -190px; }
.ico.basket_buy { width: 22px; height: 22px; background-position: -195px -269px; }
.ico.phone_white { width: 22px; height: 21px; background-position: -80px -226px; }
.ico.collapse { width: 21px; height: 21px; background-position: -155px -269px; }
.ico.plus_blue { width: 21px; height: 21px; background-position: -58px -262px; }
.ico.pig_black { width: 20px; height: 22px; background-position: -64px -138px; }
.ico.threearrows_white { width: 25px; height: 17px; background-position: 0px -221px; }
.ico.chart_black { width: 20px; height: 20px; background-position: -93px -206px; }
.ico.search_black { width: 20px; height: 20px; background-position: -217px -269px; }
.ico.world_black { width: 20px; height: 20px; background-position: -237px -272px; }
.ico.email_white_mini { width: 22px; height: 17px; background-position: -113px -207px; }
.ico.settings_arrow_black_mini { width: 26px; height: 14px; background-position: -172px -82px; }
.ico.settings_arrow_white_mini { width: 26px; height: 14px; background-position: 0px -149px; }
.ico.additional_menu_ico { width: 19px; height: 19px; background-position: -176px -282px; }
.ico.layers_black { width: 20px; height: 18px; background-position: -26px -147px; }
.ico.ok_green_middle { width: 18px; height: 18px; background-position: -212px -55px; }
.ico.pen_black { width: 18px; height: 18px; background-position: -174px -192px; }
.ico.reload_middle { width: 18px; height: 18px; background-position: -135px -207px; }
.ico.status_active_mini { width: 18px; height: 18px; background-position: -40px -262px; }
.ico.status_archive_mini { width: 18px; height: 18px; background-position: -70px -120px; }
.ico.status_draft_mini { width: 18px; height: 18px; background-position: -132px -44px; }
.ico.status_inactive_mini { width: 18px; height: 18px; background-position: -209px -323px; }
.ico.status_moderation_mini { width: 18px; height: 18px; background-position: -46px -133px; }
.ico.status_rejected_mini { width: 18px; height: 18px; background-position: -90px -91px; }
.ico.status_stop_mini { width: 18px; height: 18px; background-position: -108px -91px; }
.ico.stop_middle { width: 18px; height: 18px; background-position: -231px 0px; }
.ico.history_gray_mini { width: 17px; height: 16px; background-position: -150px -45px; }
.ico.phone_black_mini { width: 17px; height: 16px; background-position: 0px -133px; }
.ico.search_gray_mini { width: 16px; height: 17px; background-position: -138px -325px; }
.ico.title_sources { width: 16px; height: 17px; background-position: -243px -489px; }
.ico.activeServices_gray_mini { width: 16px; height: 16px; background-position: -243px -473px; }
.ico.bank_gray_mini { width: 16px; height: 16px; background-position: -243px -457px; }
.ico.channel_arrow_mini { width: 16px; height: 16px; background-position: -243px -441px; }
.ico.dollar_gray_mini { width: 16px; height: 16px; background-position: -243px -425px; }
.ico.export_white_mini { width: 16px; height: 16px; background-position: -243px -409px; }
.ico.favicon { width: 16px; height: 16px; background-position: -243px -393px; }
.ico.fullStatistic_gray_mini { width: 16px; height: 16px; background-position: -243px -377px; }
.ico.import_white_mini { width: 16px; height: 16px; background-position: -243px -361px; }
.ico.payAdd_gray_mini { width: 16px; height: 16px; background-position: -243px -345px; }
.ico.payOutHistory_gray_mini { width: 16px; height: 16px; background-position: -245px -90px; }
.ico.payOut_gray_mini { width: 16px; height: 16px; background-position: -245px -74px; }
.ico.phone_gray_mini { width: 16px; height: 16px; background-position: -247px -172px; }
.ico.promo_gray_mini { width: 16px; height: 16px; background-position: -247px -156px; }
.ico.rub_white_mini { width: 16px; height: 16px; background-position: -247px -256px; }
.ico.services_gray_mini { width: 16px; height: 16px; background-position: -247px -240px; }
.ico.skype_black_mini { width: 16px; height: 16px; background-position: -246px -137px; }
.ico.statistic_gray_mini { width: 16px; height: 16px; background-position: -246px -121px; }
.ico.chat_black_mini { width: 17px; height: 15px; background-position: -246px -106px; }
.ico.phone_hangup_white { width: 25px; height: 10px; background-position: 0px -163px; }
.ico.account_black_mini { width: 16px; height: 15px; background-position: -249px 0px; }
.ico.history_black_mini { width: 16px; height: 15px; background-position: -251px -196px; }
.ico.sound_black_mini { width: 16px; height: 15px; background-position: -252px -225px; }
.ico.exit_black_mini { width: 17px; height: 14px; background-position: -252px -211px; }
.ico.collapse_mini { width: 15px; height: 15px; background-position: -25px -221px; }
.ico.expand_mini { width: 15px; height: 15px; background-position: -253px -300px; }
.ico.question_blue { width: 15px; height: 15px; background-position: -254px -330px; }
.ico.question_blue_dark { width: 15px; height: 15px; background-position: -254px -315px; }
.ico.exit_gray { width: 16px; height: 14px; background-position: -138px -311px; }
.ico.invoiceList_gray_mini { width: 14px; height: 16px; background-position: -198px -94px; }
.ico.person_black_mini { width: 14px; height: 15px; background-position: -195px -323px; }
.ico.email_black_mini { width: 16px; height: 13px; background-position: -176px -269px; }
.ico.video_black_mini { width: 16px; height: 13px; background-position: -70px -107px; }
.ico.add_black_mini { width: 14px; height: 14px; background-position: -256px -58px; }
.ico.add_white_mini { width: 14px; height: 14px; background-position: -256px -44px; }
.ico.cancel_white_mini { width: 14px; height: 14px; background-position: -257px -29px; }
.ico.copy_black_mini { width: 14px; height: 14px; background-position: -257px -15px; }
.ico.crm_black_mini { width: 14px; height: 14px; background-position: -257px -286px; }
.ico.decline { width: 14px; height: 14px; background-position: -257px -272px; }
.ico.delete { width: 14px; height: 14px; background-position: -212px -41px; }
.ico.edit_black_mini { width: 14px; height: 14px; background-position: -132px -30px; }
.ico.edit_white_mini { width: 14px; height: 14px; background-position: -259px -485px; }
.ico.error { width: 14px; height: 14px; background-position: -259px -471px; }
.ico.library_white_mini { width: 14px; height: 14px; background-position: -259px -457px; }
.ico.ok_black_mini { width: 14px; height: 14px; background-position: -259px -443px; }
.ico.ok_green_mini { width: 14px; height: 14px; background-position: -259px -429px; }
.ico.ok_white_mini { width: 14px; height: 14px; background-position: -259px -415px; }
.ico.phone_green_mini { width: 14px; height: 14px; background-position: -259px -401px; }
.ico.phone_red_mini { width: 14px; height: 14px; background-position: -259px -387px; }
.ico.prolong_black_mini { width: 14px; height: 14px; background-position: -259px -373px; }
.ico.refresh { width: 14px; height: 14px; background-position: -259px -359px; }
.ico.refresh_mini { width: 14px; height: 14px; background-position: -259px -345px; }
.ico.search_white_mini { width: 14px; height: 14px; background-position: -261px -86px; }
.ico.send { width: 14px; height: 14px; background-position: -261px -72px; }
.ico.settings_black_mini { width: 14px; height: 14px; background-position: -262px -142px; }
.ico.settings_white_mini { width: 14px; height: 14px; background-position: -262px -128px; }
.ico.status_active_black_mini { width: 14px; height: 14px; background-position: -263px -114px; }
.ico.status_archive_black_mini { width: 14px; height: 14px; background-position: -263px -100px; }
.ico.status_draft_black_mini { width: 14px; height: 14px; background-position: -263px -182px; }
.ico.status_inactive_black_mini { width: 14px; height: 14px; background-position: -263px -168px; }
.ico.status_moderation_black_mini { width: 14px; height: 14px; background-position: -263px -254px; }
.ico.status_rejected_black_mini { width: 14px; height: 14px; background-position: -263px -240px; }
.ico.status_stop_black_mini { width: 14px; height: 14px; background-position: -265px 0px; }
.ico.delete_black_mini { width: 13px; height: 15px; background-position: -267px -196px; }
.ico.import_black_mini { width: 13px; height: 14px; background-position: -46px -151px; }
.ico.list_white_mini { width: 14px; height: 13px; background-position: -180px -96px; }
.ico.wallet_white_mini { width: 14px; height: 13px; background-position: -90px -78px; }
.ico.checkbox { width: 13px; height: 13px; background-position: -104px -78px; }
.ico.checkbox_checked { width: 13px; height: 13px; background-position: -117px -78px; }
.ico.calendar { width: 14px; height: 12px; background-position: -198px -82px; }
.ico.export_black_mini { width: 12px; height: 14px; background-position: -17px -133px; }
.ico.arrow_left_black_mini { width: 12px; height: 12px; background-position: -29px -133px; }
.ico.arrow_right_white_mini { width: 12px; height: 12px; background-position: -263px -156px; }
.ico.delete_mini { width: 12px; height: 12px; background-position: -268px -225px; }
.ico.minus_black_mini { width: 12px; height: 12px; background-position: -268px -300px; }
.ico.minus_gray_mini { width: 12px; height: 12px; background-position: -269px -211px; }
.ico.plus_black_mini { width: 12px; height: 12px; background-position: -269px -324px; }
.ico.plus_gray_mini { width: 12px; height: 12px; background-position: -269px -312px; }
.ico.rubles { width: 11px; height: 13px; background-position: -270px -57px; }
.ico.status_delete_black_mini { width: 11px; height: 12px; background-position: -270px -45px; }
.ico.info_blue_mini { width: 10px; height: 10px; background-position: -271px -35px; }
.ico.tab_arrow { width: 8px; height: 9px; background-position: -271px -26px; }
.ico.angleRight_gray_mini { width: 5px; height: 8px; background-position: -271px -18px; }
.ico.arrow_down_black_mini { width: 7px; height: 4px; background-position: -271px -14px; }
.ico.sort_asc { width: 7px; height: 4px; background-position: -226px -44px; }
.ico.sort_desc { width: 7px; height: 4px; background-position: -150px -41px; }